h2 {
    font-family: "Baltore", sans-serif !important;
    font-weight: 400 !important;
    font-style: bold;
    background-color: white;
    color: black;
}
 
.MuiButton-root {
    background: black;
}